
@keyframes bounceIn {
  from {
    opacity 0
  }
  to {
    opacity 1
  }
}
button.edit
  font-family "Comic Sans MS"
  position absolute
  background white
  cursor pointer
  opacity .6
  border none
  font-size 3em
  bottom .5em
  left .5em
  z-index 10
  &:hover
    opacity 1
    &:after
      content ' change emojis'
configure
  background-color rgba(255,255,255,.5)
  animation-name bounceIn
  animation-duration .5s
  animation-fill-mode both
  animation-timing-function cubic-bezier(.83,.09,.83,1.22)
  position absolute
  top 0
  right 0
  left 0
  bottom 0
  font-size 5vmin
  z-index 10
  padding 5vw
  emoji-input
    display flex
    background rgb(80,80,80)
    padding .4em
    border-radius .4em
  input
    flex 1 1 auto
    font-size 5vw
    background transparent
    border none
    &:focus
      outline none
  button
  h1
    color yellow
    text-shadow -.05em -.05em 0 orange, -.1em -.1em 0 black, .01em .01em 0 orange
  button
    font-family "Comic Sans MS"
    font-size 4vw
    padding-right 1em
    white-space nowrap
    cursor pointer
    border none
    background transparent
slotmachine
body
  font-family "Comic Sans MS"
  height 100vh
  width 100vw
  margin 0
slide
  font-size 1em
  display block
  width 100%
  line-height 20vh
  vertical-align middle
  top 40.5vh
  position absolute
  text-align center
  backface-visibility hidden
  -webkit-backface-visibility hidden
  @media screen and (max-width 450px)
    font-size 1.8em

machine
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  font-size 10vw
  margin 0 auto
  padding 0 10vw
  display flex
  transform-style preserve-3d
  // perspective 1000px
  overflow hidden
  user-select none
  cursor pointer
  &:after
    content ' '
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index 5
    background-image linear-gradient(white, rgba(255,255,255,0), rgba(255,255,255,0), white)
    @media screen and (orientation: portrait)
      background-image linear-gradient(white, rgba(255,255,255,0), white)
  @media screen and (min-width 1300px)
    font-size 94pt
    max-width 1300px
    padding 0 30vw
wheel
  flex auto
  min-height 100vh
  position relative
  transition transform
  transform-style preserve-3d
  transition-timing-function cubic-bezier(0.2, -0.02, 0.29, 1.04)
