doctype
html
  head
    title Emojislots
    script(async src='app.js')
    link(rel='stylesheet' href='app.css')
    meta( name="viewport" content="width=device-width, user-scalable=no")
  body
    debug
    if(process.env.NODE_ENV !== 'production')
      script.
        var socket = new WebSocket('ws://'+window.location.hostname+':8081/');
        socket.onmessage = function(msg){
          if(msg.data === 'refresh') window.location.reload();
        };
        window.onbeforeunload = function(){
          return socket.close();
        };
